
.widgets{
    border-right: 1px solid var(--twitter-color) ;
    /* 横幅が３０％という意味です */
    flex: 0.3;
    margin-top:20px;
    margin-right:20px;
    margin-left:20px;
}

.widgets__input{
    display:flex;
    align-items:center;
    background-color: var(--twitter-background);
    padding:10px;
    border-radius:20px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
}

.widgets__input > input{
    border: none;
    background-color: var(--twitter-background);
}

.widgets__widgetsContainer{
    margin-top:15px;
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    background-color: var(--twitter-background);
    border-radius:20px;
}